[soda] [weather_attribute] blizzard [date] Friday [location] Brentwood [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] gas station [eoda]
[soda] [traffic_info] route that avoids all heavy traffic [eoda]
[soda] [greeting] thank [eoda]
[soda] [traffic_info] nearest [poi] starbucks [eoda]
[soda] [poi_type] coffee shop [eoda]
[soda] [poi] coupa [eoda]
[soda] [traffic_info] fastest [poi] coupa [greeting] thank [eoda]
[soda] [date] Wednesday [event] Dinner [time] 5 PM [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] today [eoda]
[soda] [weather_attribute] raining [date] today [location] Alhambra [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] gas station [eoda]
[soda] [eoda]
[soda] [poi] valero [greeting] thank [eoda]
[soda] [weather_attribute] highest temperature [date] tuesday [location] downtown chicago [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] misty [date] now [location] Oakland [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] mall [eoda]
[soda] [eoda]
[soda] [poi] ravenswood shopping center [greeting] thank [eoda]
[soda] [weather_attribute] dry [date] sunday [location] carson [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] doctor's appointment [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] temperature [date] next week [eoda]
[soda] [location] San Mateo [eoda]
[soda] [greeting] thank [eoda]
[soda] [eoda]
[soda] [location] San Francisco [eoda]
[soda] [greeting] thank [eoda]
[soda] [traffic_info] avoid all heavy traffic [poi_type] pizza [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] quickest [poi_type] shopping center [eoda]
[soda] [distance] quickest [poi] stanford shopping center [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] today [eoda]
[soda] [location] Boston [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] home [eoda]
[soda] [traffic_info] heavy traffic [greeting] thank [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] today and tomorrow [eoda]
[soda] [date] today and tomorrow [weather_attribute] overcast [location] chicago [eoda]
[soda] [greeting] thank [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] cloudy [date] 7 days [eoda]
[soda] [location] chicago [eoda]
[soda] [weather_attribute] snow [date] this week [eoda]
[soda] [weather_attribute] snow [date] this week [location] cleveland [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearby [poi_type] hospital [eoda]
[soda] [distance] quickest to reach [eoda]
[soda] [poi] stanford express care [greeting] thank [eoda]
[soda] [weather_attribute] rain [date] today and tomorrow [location] Camarillo [eoda]
[soda] [weather_attribute] rain [date] today and tomorrow [location] Camarillo [greeting] thank [eoda]
[soda] [weather_attribute] snow [date] today [eoda]
[soda] [location] Durham [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] temperature [date] next week [eoda]
[soda] [weather_attribute] temperature [location] Alhambra [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] groceries [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] grocery store [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] today [weather_attribute] clear skies [location] los angeles [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] hot [date] next few days [location] Inglewood [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] friends house [address] 347 Alta Mesa Ave [poi] Jills house [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] doctors appointment [eoda]
[soda] [greeting] thank [eoda]
[soda] [traffic_info] heavy traffic [poi] grocery store [eoda]
[soda] [poi] sigona farmers market [greeting] thank [eoda]
[soda] [poi] sigona farmers market [greeting] thank [eoda]
[soda] [location] downtown chicago [eoda]
[soda] [weather_attribute] snow [date] Wednesday [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] rain [date] today [eoda]
[soda] [weather_attribute] rain [date] today [location] downtown chicago [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] snow [date] today [eoda]
[soda] [location] Inglewood [eoda]
[soda] [eoda]
[soda] [weather_attribute] snow [date] this week [eoda]
[soda] [location] Manhattan [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] hotel [eoda]
[soda] [poi] four seasons [greeting] thank [eoda]
[soda] [location] new york city [eoda]
[soda] [weather_attribute] drizzle [date] Tuesday [location] New York City [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] takeout Chinese food [eoda]
[soda] [poi] mandarin roots [eoda]
[soda] [event] swimming activity [eoda]
[soda] [traffic_info] fastest [poi_type] grocery store [eoda]
[soda] [poi] trader joes [greeting] thank [eoda]
[soda] [traffic_info] avoid all heavy traffic [poi_type] my house [poi] my house [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] tomorrow [eoda]
[soda] [weather_attribute] drizzle [location] Menlo Park [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearby [traffic_info] fastest route [poi_type] rest stop [eoda]
[soda] [poi] travelers lodge [eoda]
[soda] [poi] travelers lodge [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] coffee shop [eoda]
[soda] [distance] nearest [poi_type] coffee or tea shop [poi] Peets coffee [eoda]
[soda] [distance] quickest [poi] peets coffee [greeting] thank [eoda]
[soda] [weather_attribute] warm [date] Monday [location] Menlo Park [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] lab appointment [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] grocery store [eoda]
[soda] [poi] trader joes [eoda]
[soda] [traffic_info] quick route [eoda]
[soda] [poi] trader joes [greeting] thank [eoda]
[soda] [weather_attribute] foggy [date] seven day [location] durham [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] The meeting that is on his calendar. [eoda]
[soda] [date] Monday [event] meeting [time] 10 am [greeting] thank [eoda]
[soda] [date] next week [location] new york [eoda]
[soda] [weather_attribute] windy [date] this week [location] New York [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] home [poi] home [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] weekly [eoda]
[soda] [weather_attribute] dry [date] this week [location] danville [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] misty [date] today and tomorrow [location] Brentwood [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] weekend [weather_attribute] lowest temperature [location] oakland [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] chinese food [eoda]
[soda] [eoda]
[soda] [poi] panda express [greeting] thank [eoda]
[soda] [weather_attribute] highest temperature [date] two days [location] Manhattan [eoda]
[soda] [greeting] thank [eoda]
[soda] [eoda]
[soda] [weather_attribute] Cloudy [eoda]
[soda] [location] San Francisco [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] quickest [poi_type] coffee or tea place [eoda]
[soda] [address] Palo Alto Cafe [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] Chinese [eoda]
[soda] [distance] closer [eoda]
[soda] [distance] best route for me [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] frost [date] Tuesday [location] Los Angeles [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] hot [date] next few days [location] exeter [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] Drizzle [date] Tomorrow [location] Camarillo [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] pizza [eoda]
[soda] [distance] Within 5 miles [poi_type] pizza [eoda]
[soda] [distance] within 5 miles [traffic_info] no traffic [poi_type] pizza restaurant [poi] Pizza My Heart [eoda]
[soda] [poi] pizza my heart [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] fast food restaurant [eoda]
[soda] [traffic_info] no traffic [eoda]
[soda] [weather_attribute] forecast [date] today and tomorrow [eoda]
[soda] [weather_attribute] blizzard [location] Brentwood [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] misty [date] Friday [location] Exeter [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest place [poi_type] have a cup of tea [eoda]
[soda] [distance] fastest route [poi] starbucks [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] week [eoda]
[soda] [weather_attribute] cloudy [date] this week [location] San Francisco [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] friends house [poi] friend [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] how far away [poi_type] house [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] what day of the week reservations are [event] dinner reservations [time] time of reserverations [eoda]
[soda] [greeting] thank [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearby [poi_type] friends' house [eoda]
[soda] [greeting] thank [eoda]
[soda] [eoda]
[soda] [date] current [location] San Mateo [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] football activity [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] chinese restaurant [eoda]
[soda] [poi_type] chinese restaurant [eoda]
[soda] [traffic_info] avoids all heavy traffic [eoda]
[soda] [poi] jing jing [greeting] thank [eoda]
[soda] [weather_attribute] raining [date] next week [eoda]
[soda] [location] San Francisco [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] thursday [event] dentist appointment [time] 7pm [eoda]
[soda] [event] tennis lessons [eoda]
[soda] [distance] nearest [poi] starbucks [eoda]
[soda] [traffic_info] least traffic [poi] coffee shop [eoda]
[soda] [distance] nearest (4 miles away) [traffic_info] least traffic [poi_type] coffee shop [address] 269 Alger Dr [poi] cafe venetia [greeting] thank [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] quick route [poi_type] grocery store [eoda]
[soda] [poi] trader joes [eoda]
[soda] [distance] quickest one available [eoda]
[soda] [poi] safeway [greeting] thank [eoda]
[soda] [weather_attribute] temperature [location] the city [eoda]
[soda] [weather_attribute] temperature [date] this week [location] Redwood City [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] shopping [eoda]
[soda] [poi] ravenswood shopping center [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] gas station. [eoda]
[soda] [eoda]
[soda] [poi] 76 [greeting] thank [eoda]
[soda] [poi_type] shopping [eoda]
[soda] [distance] closer [eoda]
[soda] [poi] town and country [greeting] thank [eoda]
[soda] [event] tennis [agenda] tennis [eoda]
[soda] [weather_attribute] snow [eoda]
[soda] [weather_attribute] snowing [date] during the week [location] Boston [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] dinner [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] shopping center [eoda]
[soda] [traffic_info] avoiding heavy traffic [poi] Ravenwood Shopping Center [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] meeting [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] groceries [eoda]
[soda] [distance] fastest route [poi] Traders Joe's [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] tennis [eoda]
[soda] [greeting] thank [eoda]
[soda] [location] New York City [eoda]
[soda] [weather_attribute] windy [date] Tuesday [location] New York [greeting] thank [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] restaurant [eoda]
[soda] [traffic_info] quickest route [eoda]
[soda] [poi] mandarin roots [greeting] thank [eoda]
[soda] [distance] nearby [poi_type] hospital [eoda]
[soda] [distance] quickest [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] raining [date] weekend [eoda]
[soda] [location] Alhambra [eoda]
[soda] [greeting] thank [eoda]
[soda] [location] New York [eoda]
[soda] [weather_attribute] humid [date] Friday [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] meeting [eoda]
[soda] [greeting] thank [eoda]
[soda] [eoda]
[soda] [traffic_info] heavy traffic [eoda]
[soda] [poi] dish parking [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest place [poi_type] get to eat [eoda]
[soda] [distance] quickest [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] mall [eoda]
[soda] [distance] a route which is fast [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] meeting [eoda]
[soda] [event] meeting [greeting] thank [eoda]
[soda] [poi_type] hotels [eoda]
[soda] [distance] nearby [traffic_info] traffic info [poi_type] rest stop [poi] Travelers Lodge [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] this week [location] the city [eoda]
[soda] [weather_attribute] misty [location] Exeter [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] fast food restaurants [eoda]
[soda] [distance] quickest route [poi] pizza chicago [greeting] thank [eoda]
[soda] [date] this week [location] new york city [eoda]
[soda] [weather_attribute] dry [date] this week [location] new york [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] dentist appointment [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] blizzard [date] sunday [location] san jose [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] yoga activity [eoda]
[soda] [date] Thursday [event] yoga activity [eoda]
[soda] [date] this week [eoda]
[soda] [weather_attribute] snow [location] Chicago [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] misty [date] today [location] menlo park [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] hospital [eoda]
[soda] [distance] quickest [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] pizza restaurant [eoda]
[soda] [distance] quickest [address] 704 El Camino Real [poi] Pizza Hut [greeting] thank [eoda]
[soda] [poi] pizza hut [eoda]
[soda] [event] tennis game [eoda]
[soda] [eoda]
[soda] [event] lab appointment [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] lab appointment [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] coffee shop [eoda]
[soda] [distance] quickest [poi] starbucks [greeting] thank [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] hospital [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] overcast [date] next 48 hours [location] San Mateo [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] yoga [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi] hotel [eoda]
[soda] [distance] quickest [eoda]
[soda] [distance] 4 miles away [traffic_info] quickest (no traffic) [poi_type] hotel [poi] The Westin [eoda]
[soda] [distance] 4 miles away [traffic_info] quickest [poi_type] hotel [address] 329 El Camino Real [poi] the westin [greeting] thank [eoda]
[soda] [event] football game [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [traffic_info] fastest route [poi_type] rest stop [eoda]
[soda] [poi] comfort inn [greeting] thank [eoda]
[soda] [address] address for Comfort Inn [eoda]
[soda] [distance] nearest/fastest [poi_type] rest stop [poi] Comfort Inn [greeting] thank [eoda]
[soda] [event] doctor's appointment [eoda]
[soda] [distance] nearest [traffic_info] fastest [poi_type] hospital [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] gas station [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] frost [date] Friday [location] Menlo Park [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] football activity [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] football game [eoda]
[soda] [weather_attribute] rain [date] this week [eoda]
[soda] [location] Menlo Park [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] fastest [poi_type] hospital [eoda]
[soda] [distance] shortest [poi] stanford childrens health [greeting] thank [eoda]
[soda] [distance] closest [poi] starbucks [eoda]
[soda] [distance] local [poi_type] coffee shops [eoda]
[soda] [distance] fastest [poi] coupa [greeting] thank [eoda]
[soda] [poi] coupa [greeting] thank [eoda]
[soda] [date] this week [location] new york [eoda]
[soda] [weather_attribute] rain [date] this week [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] friend's [eoda]
[soda] [traffic_info] No traffic. [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] rest stop [eoda]
[soda] [poi] the clement hotel [greeting] thank [eoda]
[soda] [distance] 5 miles away [traffic_info] quickest way [poi_type] rest stop [address] 657 Ames Ave [poi] The Clement Hotel [greeting] thank [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] friend's house [eoda]
[soda] [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] drizzle [date] next week [location] Oakland [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] home [eoda]
[soda] [distance] shortest distance [poi_type] home [poi] home [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearby [poi_type] coffee shop [eoda]
[soda] [distance] quickest way [eoda]
[soda] [distance] closest [poi_type] rest stop [eoda]
[soda] [traffic_info] no traffic [eoda]
[soda] [poi] comfort inn [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] temperature [location] the city [eoda]
[soda] [location] San Mateo [eoda]
[soda] [date] The whole week [eoda]
[soda] [eoda]
[soda] [event] lab appointment [eoda]
[soda] [party] martha [greeting] thank [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] Rain [eoda]
[soda] [location] Seattle [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] restaurant [eoda]
[soda] [eoda]
[soda] [poi] jing jing [greeting] thank [eoda]
[soda] [weather_attribute] snowy [date] today [location] alhambra [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] near [poi_type] grocery store [eoda]
[soda] [eoda]
[soda] [distance] shortest [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] closest [poi] whole foods [eoda]
[soda] [poi] sigona farmers market [greeting] thank [eoda]
[soda] [poi_type] hotels [eoda]
[soda] [distance] nearby [poi_type] rest stop [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] temperature [date] today and tomorrow [eoda]
[soda] [weather_attribute] temperature [date] today and tomorrow [location] Seattle [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] my address [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] coffee shop [eoda]
[soda] [traffic_info] heavy [eoda]
[soda] [eoda]
[soda] [distance] far away [eoda]
[soda] [distance] nearest (2 miles) [traffic_info] least traffic. [poi_type] coffee or tea place [address] 269 alger dr. [poi] cafe venetia [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] misty [date] anytime [location] Redwood City [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] tennis activity [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] this week [eoda]
[soda] [weather_attribute] rain [location] Fresno [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] football game [eoda]
[soda] [weather_attribute] high temperature [date] this week [eoda]
[soda] [location] Compton [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] doctors appointment [eoda]
[soda] [event] tennis match [eoda]
[soda] [date] Saturday [event] Tennis match [time] 11 am [greeting] thank [eoda]
[soda] [weather_attribute] snow [eoda]
[soda] [location] Compton [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi] starbucks [eoda]
[soda] [poi] starbucks [eoda]
[soda] [poi] philz [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] pizza [eoda]
[soda] [eoda]
[soda] [distance] quickest [poi] papa johns [greeting] thank [eoda]
[soda] [greeting] thank [eoda]
[soda] [traffic_info] avoid traffic [poi_type] home [poi] home [eoda]
[soda] [traffic_info] least traffic [poi_type] home [poi] home [greeting] thank [eoda]
[soda] [poi] 5671 barringer street [greeting] thank [eoda]
[soda] [poi] starbucks [eoda]
[soda] [distance] closest to me [poi_type] coffee or tea place [eoda]
[soda] [poi] coupa [greeting] thank [eoda]
[soda] [traffic_info] least amount of traffic [poi_type] shopping mall [eoda]
[soda] [eoda]
[soda] [date] this week [eoda]
[soda] [location] Inglewood [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] snow [date] today [eoda]
[soda] [location] Oakland [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] within 3 miles [poi_type] chinese restaurant [eoda]
[soda] [traffic_info] avoid all heavy traffic [poi_type] restaurant [eoda]
[soda] [distance] within 3 miles [traffic_info] avoids heavy traffic [poi_type] chinese restaurant [address] 113 Arbol dr [poi] Jing Jing [greeting] thank [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] coffee [eoda]
[soda] [eoda]
[soda] [eoda]
[soda] [eoda]
[soda] [weather_attribute] dry [date] today [location] Fresno [eoda]
[soda] [greeting] thank [eoda]
[soda] [traffic_info] no traffic [poi_type] chinese restaurant [eoda]
[soda] [poi] jing jing [eoda]
[soda] [poi] jing jing [greeting] thank [eoda]
[soda] [event] optometrist appointment [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] gas station [eoda]
[soda] [traffic_info] avoid heavy traffic [poi] chevron [eoda]
[soda] [eoda]
[soda] [distance] local [poi_type] gas station [address] 783 Arcadia Pl [poi] Chevron [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi] gas station [eoda]
[soda] [distance] quick [greeting] thank [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] lab appointment [eoda]
[soda] [greeting] thank [eoda]
[soda] [traffic_info] no traffic [poi] home [eoda]
[soda] [distance] quickest [greeting] thank [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] hotel [eoda]
[soda] [eoda]
[soda] [distance] quickest [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] next week [eoda]
[soda] [location] San Francisco [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] week [eoda]
[soda] [location] San Francisco [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] stormy [date] next 7 days [location] San Mateo [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] clear [date] Currently [location] redwood city [eoda]
[soda] [weather_attribute] Clear [date] Currently [location] Redwood City [greeting] thank [eoda]
[soda] [weather_attribute] drizzle [date] tomorrow [location] Camarillo [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] forecast [date] today and tomorrow [eoda]
[soda] [date] today and tomorrow [location] San MAteo [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] yoga class [eoda]
[soda] [date] thursday [eoda]
[soda] [weather_attribute] overcast [date] Thursday [location] Atherton [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] shopping center [eoda]
[soda] [distance] within 3 miles [eoda]
[soda] [eoda]
[soda] [distance] quickest way [poi] Town and Country [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] medicine [eoda]
[soda] [event] take medicine [time] 3 pm [eoda]
[soda] [greeting] thank [eoda]
[soda] [eoda]
[soda] [weather_attribute] clear skies [date] right now [location] Atherton [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] chinese restaurant [eoda]
[soda] [poi] chef chu's [greeting] thank [eoda]
[soda] [location] New York [eoda]
[soda] [weather_attribute] clear skies [date] next few days [location] New York [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] swimming activity [eoda]
[soda] [weather_attribute] warm [date] this week [location] Brentwood [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] temperature [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [location] new york city [eoda]
[soda] [weather_attribute] blizzard [date] now [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] friend [eoda]
[soda] [distance] Jills house is 2 miles away [eoda]
[soda] [poi] Jill's house [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] Frost [date] Now [location] Oakland [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] chinese takeout [eoda]
[soda] [poi] Jing Jing [eoda]
[soda] [distance] 2 miles away [traffic_info] traffic status [poi_type] chinese restaurant [poi] jing jing [eoda]
[soda] [distance] fastest route [poi] jing jing [eoda]
[soda] [greeting] thank [eoda]
[soda] [location] New York CIty [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] doctor's appointment [eoda]
[soda] [event] doctor's appointment [time] 1pm [eoda]
[soda] [date] today [eoda]
[soda] [weather_attribute] cloudy [date] today [location] corona [eoda]
[soda] [greeting] thank [eoda]
[soda] [traffic_info] least amount of traffic [poi] home [eoda]
[soda] [greeting] thank [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] best parking spot [eoda]
[soda] [poi_type] parking garage [poi] Civic Center garage [eoda]
[soda] [traffic_info] fastest route [greeting] thank [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] snow [date] this week [eoda]
[soda] [location] Boston [eoda]
[soda] [poi_type] chinese takeout [eoda]
[soda] [eoda]
[soda] [poi_type] chinese restaurant [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] 5 miles [poi_type] coffee [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] hot [date] weekend [location] Inglewood [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] coffee or tea place [poi] starbucks [eoda]
[soda] [traffic_info] no traffic [poi] starbucks [eoda]
[soda] [poi] palo alto cafe [greeting] thank [eoda]
[soda] [weather_attribute] temperature [date] today [eoda]
[soda] [weather_attribute] temperature [date] today [location] Seattle [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] closest [poi_type] place to eat [eoda]
[soda] [distance] fastest [traffic_info] least amount [eoda]
[soda] [poi] p.f. changs [greeting] thank [eoda]
[soda] [date] 7 day [eoda]
[soda] [weather_attribute] drizzle [date] 7 day [location] Atherton [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] closest [poi_type] chinese [eoda]
[soda] [eoda]
[soda] [distance] closest [traffic_info] quickest route (no traffic) [poi_type] Chinese restaurant [address] 669 El Camino Real [poi] P.F. Chang's [greeting] thank [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] grocery store [eoda]
[soda] [distance] quickest [poi] safeway [greeting] thank [eoda]
[soda] [poi] safeway [greeting] thank [eoda]
[soda] [weather_attribute] Highest temperature [date] 7 day [location] Oakland [eoda]
[soda] [weather_attribute] Highest temperature [date] Next seven days [location] Oakland [greeting] thank [eoda]
[soda] [date] tomorrow night [eoda]
[soda] [weather_attribute] humid [date] tomorrow [location] Los Angeles [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] restaurant with chinese take-out [eoda]
[soda] [traffic_info] fastest [poi] p.f. changs [greeting] thank [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] hot [date] this week [eoda]
[soda] [date] this week [location] New York [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] clear skies [date] today [eoda]
[soda] [weather_attribute] clear skies [date] today [location] los angeles [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] shopping center [eoda]
[soda] [eoda]
[soda] [greeting] thank [eoda]
[soda] [weather_attribute] temperature [date] this weekend [eoda]
[soda] [location] Grand Rapids [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] parking garage [eoda]
[soda] [distance] shortest route possible [poi_type] garage [eoda]
[soda] [poi] stanford oval parking [greeting] thank [eoda]
[soda] [distance] 3 miles [poi_type] hospital [eoda]
[soda] [poi] stanford express care [eoda]
[soda] [poi] stanford express care [greeting] thank [eoda]
[soda] [weather_attribute] temperature [date] week [eoda]
[soda] [location] Oakland [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] work out class [eoda]
[soda] [event] swimming [eoda]
[soda] [weather_attribute] raining [eoda]
[soda] [location] Camarillo [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] yoga activity [eoda]
[soda] [date] weekly [eoda]
[soda] [date] this week [weather_attribute] rain [location] Fresno [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] closest [traffic_info] without heavy traffic [poi_type] shopping center [eoda]
[soda] [eoda]
[soda] [eoda]
[soda] [date] tomorrow [eoda]
[soda] [date] tomorrow [location] Redwood City [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] chinese restaurant [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] today [eoda]
[soda] [location] Oakland [eoda]
[soda] [date] today and tomorrow [eoda]
[soda] [location] Manhattan [eoda]
[soda] [greeting] thank [eoda]
[soda] [eoda]
[soda] [poi] 5677 springer street [greeting] thank [eoda]
[soda] [eoda]
[soda] [weather_attribute] forecast [date] two day [location] brentwood [eoda]
[soda] [greeting] thank [eoda]
[soda] [date] this weekend [eoda]
[soda] [weather_attribute] Frost [date] This Week [location] Downtown Chicago [eoda]
[soda] [greeting] thank [eoda]
[soda] [distance] nearest [poi_type] barista [eoda]
[soda] [distance] nearest [traffic_info] fastest route. [poi_type] coffee or tea place [address] 269 Alger Dr [poi] Cafe Venetia [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] Blood Test [eoda]
[soda] [weather_attribute] cloudy [date] this week [eoda]
[soda] [location] San Mateo [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] home [poi] home [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] gas [eoda]
[soda] [distance] closest [poi_type] gas station [eoda]
[soda] [traffic_info] without heavy traffic [eoda]
[soda] [greeting] thank [eoda]
[soda] [poi_type] friend's [eoda]
[soda] [distance] quickest route [eoda]
[soda] [eoda]
[soda] [weather_attribute] highest temperature [date] two day [location] durham [eoda]
[soda] [greeting] thank [eoda]
[soda] [event] Taking medicine [eoda]
[soda] [eoda]
