[soaa] [location] brentwood [eoaa]
[soaa] [address] 200 Alester Ave [poi] Valero [eoaa]
[soaa] [traffic_info] road block nearby [eoaa]
[soaa] [eoaa]
[soaa] [poi] Coupa [distance] 6 miles [eoaa]
[soaa] [poi] Coupa [address] 394 Van Ness Ave [eoaa]
[soaa] [date] wednesday [time] 5 pm [event] dinner [eoaa]
[soaa] [eoaa]
[soaa] [location] alhambra [eoaa]
[soaa] [distance] 7 miles [poi_type] gas station [address] 200 Alester Ave [poi] Valero [eoaa]
[soaa] [traffic_info] moderate traffic [address] 200 Alester Ave [poi] Valero [eoaa]
[soaa] [location] downtown chicago [eoaa]
[soaa] [location] oakland [eoaa]
[soaa] [traffic_info] heavy traffic [distance] 5 miles [poi_type] shopping center [poi] Ravenswood Shopping Center [eoaa]
[soaa] [poi_type] shopping center [address] 434 Arastradero Rd [poi] Ravenswood Shopping Center [eoaa]
[soaa] [location] carson [eoaa]
[soaa] [time] 2 pm [date] thursday [eoaa]
[soaa] [eoaa]
[soaa] [location] san mateo [today] monday [eoaa]
[soaa] [eoaa]
[soaa] [location] san francisco [monday] warm, low of 60F, high of 70F [eoaa]
[soaa] [traffic_info] heavy traffic [poi] Dominos [eoaa]
[soaa] [address] 776 Arastradero Rd [eoaa]
[soaa] [distance] 5 miles [traffic_info] heavy traffic [poi_type] shopping center [poi] Stanford Shopping Center [eoaa]
[soaa] [address] 773 Alger Dr [eoaa]
[soaa] [eoaa]
[soaa] [location] boston [friday] rain, low of 70F, high of 80F [tuesday] cloudy, low of 70F, high of 80F [monday] cloudy, low of 70F, high of 80F [sunday] warm, low of 70F, high of 80F [saturday] rain, low of 70F, high of 80F [eoaa]
[soaa] [poi_type] home [address] 10 ames street [poi] home [eoaa]
[soaa] [traffic_info] heavy traffic [eoaa]
[soaa] [eoaa]
[soaa] [today] monday [monday] hot, low of 80F, high of 90F [tuesday] snow, low of 60F, high of 70F [eoaa]
[soaa] [time] 5pm [time] 2pm [date] the 6th [date] thursday [date] saturday [date] the 5th [party] Jeff [party] Martha [party] Alex [party] sister [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [location] cleveland [eoaa]
[soaa] [poi] Stanford Express Care [poi] Palo Alto Medical Foundation [eoaa]
[soaa] [distance] 3 miles [poi_type] hospital [poi] Stanford Express Care [eoaa]
[soaa] [location] camarillo [eoaa]
[soaa] [eoaa]
[soaa] [location] durham [wednesday] rain, low of 50F, high of 70F [thursday] rain, low of 50F, high of 70F [monday] windy, low of 50F, high of 70F [saturday] cloudy, low of 50F, high of 70F [eoaa]
[soaa] [eoaa]
[soaa] [today] monday [location] alhambra [eoaa]
[soaa] [distance] 1 miles [traffic_info] heavy traffic [poi] Sigona Farmers Market [eoaa]
[soaa] [poi] Sigona Farmers Market [eoaa]
[soaa] [distance] 6 miles [poi_type] grocery store [eoaa]
[soaa] [address] 638 Amherst St [poi] Sigona Farmers Market [eoaa]
[soaa] [location] los angeles [saturday] dew, low of 80F, high of 100F [monday] warm, low of 80F, high of 100F [sunday] rain, low of 80F, high of 100F [eoaa]
[soaa] [today] monday [location] inglewood [eoaa]
[soaa] [address] 347 Alta Mesa Ave [eoaa]
[soaa] [traffic_info] no traffic [eoaa]
[soaa] [date] wednesday [eoaa]
[soaa] [traffic_info] heavy traffic [poi_type] grocery store [address] 638 Amherst St [poi] Sigona Farmers Market [eoaa]
[soaa] [poi] Sigona Farmers Market [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [location] downtown chicago [eoaa]
[soaa] [eoaa]
[soaa] [location] inglewood [eoaa]
[soaa] [eoaa]
[soaa] [location] manhattan [eoaa]
[soaa] [poi] Four Seasons [distance] 3 miles [address] 465 Arcadia Pl [eoaa]
[soaa] [eoaa]
[soaa] [location] new york [eoaa]
[soaa] [poi] Mandarin Roots [address] 271 Springer Street [eoaa]
[soaa] [poi_type] grocery store [distance] 7 miles [address] 408 University Ave [poi] Trader Joes [eoaa]
[soaa] [distance] 7 miles [traffic_info] car collision nearby [poi_type] home [poi] home [eoaa]
[soaa] [eoaa]
[soaa] [location] menlo park [eoaa]
[soaa] [distance] 1 miles [traffic_info] car collision nearby [address] 333 Arbol Dr [poi] Travelers Lodge [eoaa]
[soaa] [address] 333 Arbol Dr [poi] Travelers Lodge [eoaa]
[soaa] [traffic_info] car collision nearby [distance] 7 miles [poi] Peets Coffee [eoaa]
[soaa] [address] 9981 Archuleta Ave [poi] Peets Coffee [eoaa]
[soaa] [today] monday [location] menlo park [tuesday] overcast, low of 90F, high of 100F [monday] warm, low of 90F, high of 100F [friday] dew, low of 90F, high of 100F [thursday] rain, low of 90F, high of 100F [sunday] windy, low of 90F, high of 100F [eoaa]
[soaa] [party] Martha [event] lab appointment [eoaa]
[soaa] [distance] 5 miles [traffic_info] heavy traffic [poi_type] grocery store [poi] Trader Joes [eoaa]
[soaa] [eoaa]
[soaa] [distance] 5 miles [traffic_info] heavy traffic [address] 408 University Ave [poi] Trader Joes [eoaa]
[soaa] [location] durham [eoaa]
[soaa] [time] 10 am [date] monday [event] meeting [eoaa]
[soaa] [eoaa]
[soaa] [location] new york [eoaa]
[soaa] [distance] 4 miles [traffic_info] no traffic [poi_type] home [poi] home [eoaa]
[soaa] [poi_type] home [address] 56 cadwell street [poi] home [eoaa]
[soaa] [eoaa]
[soaa] [location] danville [eoaa]
[soaa] [location] brentwood [eoaa]
[soaa] [location] oakland [eoaa]
[soaa] [distance] 5 miles [poi] Panda Express [eoaa]
[soaa] [address] 842 Arrowhead Way [poi] Panda Express [eoaa]
[soaa] [location] manhattan [saturday] misty, low of 60F, high of 70F [tuesday] raining, low of 60F, high of 70F [friday] clear skies, low of 60F, high of 70F [eoaa]
[soaa] [eoaa]
[soaa] [location] san francisco [eoaa]
[soaa] [poi] Palo Alto Cafe [eoaa]
[soaa] [address] 436 Alger Dr [poi] Palo Alto Cafe [eoaa]
[soaa] [poi] Chef Chu's [poi] Jing Jing [eoaa]
[soaa] [distance] 2 miles [traffic_info] road block nearby [poi] Chef Chu's [eoaa]
[soaa] [traffic_info] road block nearby [eoaa]
[soaa] [location] los angeles [eoaa]
[soaa] [location] exeter [wednesday] dry, low of 80F, high of 100F [saturday] rain, low of 80F, high of 100F [tuesday] warm, low of 80F, high of 100F [thursday] warm, low of 80F, high of 100F [eoaa]
[soaa] [location] camarillo [eoaa]
[soaa] [poi] Dominos [poi] Pizza My Heart [eoaa]
[soaa] [distance] 3 miles [distance] 2 miles [poi] Dominos [poi] Pizza My Heart [eoaa]
[soaa] [address] 528 Anton Ct [poi] Pizza My Heart [eoaa]
[soaa] [distance] 6 miles [poi] Pizza My Heart [eoaa]
[soaa] [eoaa]
[soaa] [location] brentwood [eoaa]
[soaa] [location] exeter [eoaa]
[soaa] [poi] Starbucks [eoaa]
[soaa] [traffic_info] no traffic [address] 792 Bedoin Street [eoaa]
[soaa] [eoaa]
[soaa] [location] san francisco [eoaa]
[soaa] [address] 347 Alta Mesa Ave [eoaa]
[soaa] [eoaa]
[soaa] [distance] 3 miles [eoaa]
[soaa] [date] monday [event] dinner [eoaa]
[soaa] [today] monday [location] san jose [eoaa]
[soaa] [address] 864 Almanor Ln [eoaa]
[soaa] [eoaa]
[soaa] [location] san mateo [monday] snow, low of 30F, high of 40F [sunday] clear skies, low of 30F, high of 40F [eoaa]
[soaa] [time] 1pm [event] football activity [date] friday [eoaa]
[soaa] [traffic_info] road block nearby [distance] 2 miles [poi_type] chinese restaurant [eoaa]
[soaa] [address] 113 Arbol Dr [poi] Jing Jing [eoaa]
[soaa] [traffic_info] heavy traffic [poi] Jing Jing [eoaa]
[soaa] [eoaa]
[soaa] [location] san francisco [eoaa]
[soaa] [eoaa]
[soaa] [poi] Cafe Venetia [distance] 4 miles [address] 269 Alger Dr [eoaa]
[soaa] [address] 269 Alger Dr [eoaa]
[soaa] [traffic_info] no traffic [traffic_info] moderate traffic [distance] 1 miles [poi] Safeway [poi] Trader Joes [eoaa]
[soaa] [poi] Safeway [poi] Trader Joes [eoaa]
[soaa] [address] 452 Arcadia Pl [poi] Safeway [eoaa]
[soaa] [eoaa]
[soaa] [location] redwood city [eoaa]
[soaa] [distance] 3 miles [poi_type] shopping center [poi] Ravenswood Shopping Center [eoaa]
[soaa] [address] 434 Arastradero Rd [eoaa]
[soaa] [poi_type] gas station [eoaa]
[soaa] [address] 91 El Camino Real [poi] 76 [eoaa]
[soaa] [poi_type] shopping center [poi] Stanford Shopping Center [poi] Town and Country [eoaa]
[soaa] [poi] Town and Country [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [date] friday [date] the 8th [party] father [party] aunt [event] dinner [eoaa]
[soaa] [distance] 2 miles [distance] 4 miles [poi_type] shopping center [poi] Ravenswood Shopping Center [poi] Topanga Mall [eoaa]
[soaa] [address] 434 Arastradero Rd [eoaa]
[soaa] [agenda] go over budget [agenda] sign the NDA [time] 1pm [party] sales team [eoaa]
[soaa] [distance] 1 miles [traffic_info] moderate traffic [poi] Trader Joes [eoaa]
[soaa] [address] 408 University Ave [poi] Trader Joes [eoaa]
[soaa] [time] 3pm [date] thursday [party] brother [event] tennis activity [eoaa]
[soaa] [location] new york [tuesday] dry, low of 60F, high of 80F [sunday] warm, low of 60F, high of 80F [saturday] cloudy, low of 60F, high of 80F [monday] drizzle, low of 60F, high of 80F [eoaa]
[soaa] [location] new york [eoaa]
[soaa] [distance] 4 miles [distance] 5 miles [poi] Chef Chu's [poi] Mandarin Roots [poi_type] chinese restaurant [eoaa]
[soaa] [distance] 4 miles [traffic_info] moderate traffic [poi] Mandarin Roots [address] 271 Springer Street [eoaa]
[soaa] [poi_type] hospital [poi] Palo Alto Medical Foundation [eoaa]
[soaa] [address] 611 Ames Ave [poi] Palo Alto Medical Foundation [eoaa]
[soaa] [eoaa]
[soaa] [location] alhambra [eoaa]
[soaa] [location] new york [eoaa]
[soaa] [eoaa]
[soaa] [date] the 5th [event] meeting [eoaa]
[soaa] [distance] 5 miles [poi] Dish Parking [eoaa]
[soaa] [traffic_info] heavy traffic [poi] Dish Parking [eoaa]
[soaa] [address] 550 Alester Ave [poi] Dish Parking [eoaa]
[soaa] [distance] 4 miles [poi] Dominos [eoaa]
[soaa] [traffic_info] moderate traffic [address] 776 Arastradero Rd [poi] Dominos [eoaa]
[soaa] [eoaa]
[soaa] [poi_type] shopping center [address] 383 University Ave [poi] Town and Country [eoaa]
[soaa] [traffic_info] road block nearby [eoaa]
[soaa] [time] 7pm [date] the 9th [date] the 10th [eoaa]
[soaa] [distance] 4 miles [distance] 5 miles [distance] 2 miles [poi] Four Seasons [poi] The Westin [poi] The Clement Hotel [poi] Travelers Lodge [eoaa]
[soaa] [traffic_info] road block nearby [address] 333 Arbol Dr [eoaa]
[soaa] [eoaa]
[soaa] [location] exeter [eoaa]
[soaa] [poi] Pizza Chicago [eoaa]
[soaa] [location] new york [eoaa]
[soaa] [location] new york [eoaa]
[soaa] [time] 10am [date] the 13th [event] dentist appointment [eoaa]
[soaa] [location] san jose [eoaa]
[soaa] [event] yoga activity [date] thursday [party] sister [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [location] menlo park [eoaa]
[soaa] [poi_type] hospital [address] 611 Ames Ave [poi] Palo Alto Medical Foundation [eoaa]
[soaa] [address] 611 Ames Ave [eoaa]
[soaa] [distance] 6 miles [distance] 5 miles [poi] Round Table [poi] Pizza Hut [eoaa]
[soaa] [traffic_info] moderate traffic [address] 704 El Camino Real [poi] Pizza Hut [eoaa]
[soaa] [time] 1 pm [date] wednesday [event] tennis activity [eoaa]
[soaa] [event] lab appointment [date] friday [eoaa]
[soaa] [time] 6pm [time] 4pm [date] tuesday [date] the 17th [eoaa]
[soaa] [poi] Starbucks [eoaa]
[soaa] [address] 792 Bedoin Street [poi] Starbucks [eoaa]
[soaa] [distance] 5 miles [poi_type] hospital [poi] Stanford Childrens Health [eoaa]
[soaa] [traffic_info] heavy traffic [address] 899 Ames Ct [eoaa]
[soaa] [location] san mateo [eoaa]
[soaa] [date] wednesday [event] yoga activity [eoaa]
[soaa] [distance] 5 miles [distance] 4 miles [distance] 3 miles [poi_type] rest stop [eoaa]
[soaa] [distance] 4 miles [traffic_info] no traffic [poi] The Westin [eoaa]
[soaa] [poi] The Westin [address] 329 El Camino Real [eoaa]
[soaa] [time] 11 am [date] friday [eoaa]
[soaa] [distance] 3 miles [traffic_info] heavy traffic [poi] Comfort Inn [eoaa]
[soaa] [eoaa]
[soaa] [address] 753 University Ave [poi] Comfort Inn [eoaa]
[soaa] [distance] 5 miles [traffic_info] heavy traffic [poi_type] hospital [address] 899 Ames Ct [eoaa]
[soaa] [distance] 4 miles [poi_type] gas station [poi] 76 [eoaa]
[soaa] [location] menlo park [eoaa]
[soaa] [time] 6pm [party] Ana [eoaa]
[soaa] [eoaa]
[soaa] [location] menlo park [eoaa]
[soaa] [distance] 4 miles [traffic_info] road block nearby [poi_type] hospital [address] 899 Ames Ct [poi] Stanford Childrens Health [eoaa]
[soaa] [eoaa]
[soaa] [traffic_info] heavy traffic [distance] 6 miles [poi] Coupa [eoaa]
[soaa] [address] 394 Van Ness Ave [poi] Coupa [eoaa]
[soaa] [location] new york [eoaa]
[soaa] [location] new york [eoaa]
[soaa] [address] 347 Alta Mesa Ave [eoaa]
[soaa] [traffic_info] no traffic [eoaa]
[soaa] [eoaa]
[soaa] [distance] 5 miles [poi] The Clement Hotel [eoaa]
[soaa] [distance] 5 miles [address] 657 Ames Ave [eoaa]
[soaa] [address] 657 Ames Ave [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [distance] 3 miles [address] 864 Almanor Ln [eoaa]
[soaa] [location] oakland [eoaa]
[soaa] [address] 10 ames street [eoaa]
[soaa] [distance] 2 miles [traffic_info] no traffic [eoaa]
[soaa] [distance] 2 miles [traffic_info] moderate traffic [address] 436 Alger Dr [poi] Palo Alto Cafe [eoaa]
[soaa] [distance] 5 miles [poi] Comfort Inn [eoaa]
[soaa] [traffic_info] car collision nearby [poi] Comfort Inn [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [today] monday [location] san mateo [eoaa]
[soaa] [time] 7pm [time] 1pm [party] Martha [party] father [eoaa]
[soaa] [time] 7pm [party] Martha [event] optometrist appointment [eoaa]
[soaa] [eoaa]
[soaa] [location] seattle [eoaa]
[soaa] [poi] Jing Jing [eoaa]
[soaa] [traffic_info] no traffic [poi] Jing Jing [eoaa]
[soaa] [location] alhambra [eoaa]
[soaa] [distance] 1 miles [traffic_info] no traffic [poi] Safeway [eoaa]
[soaa] [address] 452 Arcadia Pl [poi] Safeway [eoaa]
[soaa] [eoaa]
[soaa] [distance] 5 miles [poi_type] grocery store [poi] Sigona Farmers Market [eoaa]
[soaa] [poi] Hotel Keen [poi] Four Seasons [eoaa]
[soaa] [poi_type] rest stop [address] 465 Arcadia Pl [eoaa]
[soaa] [eoaa]
[soaa] [location] seattle [eoaa]
[soaa] [poi_type] home [address] 5671 barringer street [poi] home [eoaa]
[soaa] [poi_type] home [poi] home [eoaa]
[soaa] [address] 269 Alger Dr [poi] Cafe Venetia [eoaa]
[soaa] [poi] Cafe Venetia [eoaa]
[soaa] [traffic_info] car collision nearby [eoaa]
[soaa] [distance] 2 miles [eoaa]
[soaa] [eoaa]
[soaa] [location] redwood city [eoaa]
[soaa] [time] 3pm [date] the 4th [event] tennis activity [eoaa]
[soaa] [eoaa]
[soaa] [location] fresno [eoaa]
[soaa] [eoaa]
[soaa] [location] compton [eoaa]
[soaa] [date] tuesday [event] tennis activity [eoaa]
[soaa] [eoaa]
[soaa] [location] compton [eoaa]
[soaa] [eoaa]
[soaa] [distance] 2 miles [poi] Philz [eoaa]
[soaa] [distance] 2 miles [address] 583 Alester Ave [poi] Philz [eoaa]
[soaa] [poi] Round Table [poi] Papa Johns [eoaa]
[soaa] [distance] 3 miles [poi] Papa Johns [eoaa]
[soaa] [address] 110 Arastradero Rd [poi] Papa Johns [eoaa]
[soaa] [traffic_info] moderate traffic [distance] 6 miles [poi_type] home [poi] home [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [distance] 2 miles [address] 394 Van Ness Ave [poi] Coupa [eoaa]
[soaa] [traffic_info] heavy traffic [poi] Topanga Mall [eoaa]
[soaa] [eoaa]
[soaa] [location] inglewood [today] monday [eoaa]
[soaa] [eoaa]
[soaa] [location] oakland [eoaa]
[soaa] [distance] 2 miles [poi] Jing Jing [eoaa]
[soaa] [traffic_info] road block nearby [distance] 2 miles [address] 113 Arbol Dr [eoaa]
[soaa] [eoaa]
[soaa] [distance] 2 miles [poi] Teavana [eoaa]
[soaa] [distance] 2 miles [traffic_info] heavy traffic [address] 145 Amherst St [poi] Teavana [eoaa]
[soaa] [eoaa]
[soaa] [location] fresno [thursday] windy, low of 20F, high of 40F [monday] rain, low of 20F, high of 40F [sunday] clear skies, low of 20F, high of 40F [tuesday] stormy, low of 20F, high of 40F [wednesday] overcast, low of 20F, high of 40F [friday] snow, low of 20F, high of 40F [eoaa]
[soaa] [distance] 2 miles [poi] Jing Jing [eoaa]
[soaa] [address] 113 Arbol Dr [poi] Jing Jing [eoaa]
[soaa] [date] the 3rd [date] thursday [party] Alex [party] Tom [eoaa]
[soaa] [distance] 4 miles [poi_type] gas station [poi] Chevron [eoaa]
[soaa] [poi] Chevron [eoaa]
[soaa] [address] 783 Arcadia Pl [eoaa]
[soaa] [traffic_info] car collision nearby [distance] 4 miles [address] 783 Arcadia Pl [eoaa]
[soaa] [traffic_info] heavy traffic [poi_type] gas station [distance] 8 miles [eoaa]
[soaa] [poi] Valero [eoaa]
[soaa] [address] 200 Alester Ave [poi] Valero [eoaa]
[soaa] [date] the 3rd [date] the 13th [party] Martha [party] brother [event] lab appointment [eoaa]
[soaa] [traffic_info] heavy traffic [poi_type] home [poi] home [eoaa]
[soaa] [poi_type] home [poi] home [eoaa]
[soaa] [poi] Four Seasons [eoaa]
[soaa] [address] 465 Arcadia Pl [poi] Four Seasons [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [today] monday [location] san francisco [eoaa]
[soaa] [eoaa]
[soaa] [today] monday [location] san francisco [eoaa]
[soaa] [location] san mateo [eoaa]
[soaa] [location] redwood city [eoaa]
[soaa] [location] camarillo [eoaa]
[soaa] [eoaa]
[soaa] [location] san mateo [eoaa]
[soaa] [eoaa]
[soaa] [location] atherton [eoaa]
[soaa] [poi_type] shopping center [poi] Stanford Shopping Center [poi] Town and Country [eoaa]
[soaa] [distance] 2 miles [poi_type] shopping center [poi] Stanford Shopping Center [poi] Town and Country [eoaa]
[soaa] [eoaa]
[soaa] [address] 383 University Ave [eoaa]
[soaa] [time] 3pm [time] 6pm [eoaa]
[soaa] [party] mother [eoaa]
[soaa] [eoaa]
[soaa] [monday] blizzard, low of 50F, high of 60F [location] atherton [sunday] stormy, low of 50F, high of 60F [eoaa]
[soaa] [distance] 4 miles [address] 593 Arrowhead Way [poi] Chef Chu's [eoaa]
[soaa] [location] new york [eoaa]
[soaa] [location] new york [eoaa]
[soaa] [location] brentwood [eoaa]
[soaa] [eoaa]
[soaa] [location] san mateo [monday] overcast, low of 60F, high of 80F [sunday] windy, low of 60F, high of 80F [eoaa]
[soaa] [eoaa]
[soaa] [location] new york [eoaa]
[soaa] [eoaa]
[soaa] [distance] 4 miles [distance] 2 miles [traffic_info] moderate traffic [poi] jacks house [eoaa]
[soaa] [eoaa]
[soaa] [location] oakland [eoaa]
[soaa] [distance] 5 miles [distance] 2 miles [poi] Jing Jing [eoaa]
[soaa] [eoaa]
[soaa] [traffic_info] road block nearby [address] 113 Arbol Dr [poi] Jing Jing [eoaa]
[soaa] [eoaa]
[soaa] [location] new york [eoaa]
[soaa] [time] 1 pm [date] thursday [eoaa]
[soaa] [eoaa]
[soaa] [location] corona [eoaa]
[soaa] [poi_type] home [poi] home [eoaa]
[soaa] [poi_type] home [address] 56 cadwell street [poi] home [eoaa]
[soaa] [distance] 4 miles [traffic_info] road block nearby [poi] Civic Center Garage [eoaa]
[soaa] [address] 270 Altaire Walk [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [poi_type] chinese restaurant [poi] Panda Express [eoaa]
[soaa] [traffic_info] heavy traffic [poi] Panda Express [eoaa]
[soaa] [poi] Panda Express [eoaa]
[soaa] [address] 842 Arrowhead Way [poi] Panda Express [eoaa]
[soaa] [distance] 4 miles [poi] Starbucks [eoaa]
[soaa] [address] 792 Bedoin Street [eoaa]
[soaa] [location] inglewood [eoaa]
[soaa] [distance] 7 miles [poi] Palo Alto Cafe [eoaa]
[soaa] [traffic_info] heavy traffic [address] 436 Alger Dr [poi] Palo Alto Cafe [eoaa]
[soaa] [eoaa]
[soaa] [location] seattle [monday] cloudy, low of 60F, high of 80F [wednesday] drizzle, low of 60F, high of 80F [tuesday] warm, low of 60F, high of 80F [eoaa]
[soaa] [distance] 2 miles [poi_type] chinese restaurant [address] 669 El Camino Real [poi] P.F. Changs [eoaa]
[soaa] [traffic_info] no traffic [poi] P.F. Changs [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [distance] 3 miles [poi_type] chinese restaurant [traffic_info] moderate traffic [eoaa]
[soaa] [address] 669 El Camino Real [poi] P.F. Changs [eoaa]
[soaa] [eoaa]
[soaa] [distance] 2 miles [poi] Safeway [eoaa]
[soaa] [traffic_info] no traffic [address] 452 Arcadia Pl [poi] Safeway [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [location] los angeles [eoaa]
[soaa] [distance] 1 miles [distance] 4 miles [poi] Jing Jing [poi] P.F. Changs [eoaa]
[soaa] [address] 113 Arbol Dr [poi] Jing Jing [eoaa]
[soaa] [eoaa]
[soaa] [location] new york [today] monday [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [distance] 6 miles [eoaa]
[soaa] [poi] Topanga Mall [eoaa]
[soaa] [eoaa]
[soaa] [location] grand rapids [thursday] windy, low of 80F, high of 100F [saturday] dry, low of 80F, high of 100F [wednesday] foggy, low of 80F, high of 100F [sunday] dry, low of 80F, high of 100F [eoaa]
[soaa] [poi_type] parking garage [eoaa]
[soaa] [address] 610 Amarillo Ave [poi] Stanford Oval Parking [eoaa]
[soaa] [distance] 3 miles [poi_type] hospital [poi] Stanford Express Care [eoaa]
[soaa] [address] 214 El Camino Real [poi] Stanford Express Care [eoaa]
[soaa] [eoaa]
[soaa] [today] monday [location] oakland [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [location] camarillo [eoaa]
[soaa] [eoaa]
[soaa] [location] fresno [eoaa]
[soaa] [poi] Town and Country [eoaa]
[soaa] [traffic_info] moderate traffic [eoaa]
[soaa] [eoaa]
[soaa] [location] redwood city [wednesday] raining, low of 90F, high of 100F [monday] rain, low of 90F, high of 100F [thursday] snow, low of 90F, high of 100F [tuesday] clear skies, low of 90F, high of 100F [friday] snow, low of 90F, high of 100F [saturday] dry, low of 90F, high of 100F [eoaa]
[soaa] [address] 842 Arrowhead Way [poi] Panda Express [eoaa]
[soaa] [eoaa]
[soaa] [eoaa]
[soaa] [today] monday [wednesday] snow, low of 70F, high of 90F [monday] snow, low of 70F, high of 90F [tuesday] hot, low of 70F, high of 90F [location] manhattan [eoaa]
[soaa] [distance] 2 miles [traffic_info] moderate traffic [address] 5677 springer street [poi] 5677 springer street [eoaa]
[soaa] [eoaa]
[soaa] [today] monday [location] brentwood [eoaa]
[soaa] [eoaa]
[soaa] [location] downtown chicago [eoaa]
[soaa] [address] 269 Alger Dr [poi] Cafe Venetia [eoaa]
[soaa] [traffic_info] heavy traffic [eoaa]
[soaa] [eoaa]
[soaa] [location] san mateo [eoaa]
[soaa] [poi_type] home [address] 56 cadwell street [poi] home [eoaa]
[soaa] [poi_type] gas station [eoaa]
[soaa] [traffic_info] heavy traffic [distance] 4 miles [address] 91 El Camino Real [poi] 76 [eoaa]
[soaa] [poi_type] gas station [eoaa]
[soaa] [address] 347 Alta Mesa Ave [eoaa]
[soaa] [traffic_info] no traffic [eoaa]
[soaa] [location] durham [eoaa]
[soaa] [time] 10am [time] 2pm [party] mother [party] Alex [party] Jeff [eoaa]
