What gas stations are here?
That's good! Please pick the quickest route to get there and avoid all heavy traffic!
What is the address?
Perfect. Thank you
what's the temperature going to be like on friday
alhambra
And the temperature?
Thank you.
give me directions to the closest grocery store
I need the one that avoids all heavy traffic.
Thank you.
What will the weather in Fresno be in the next 48 hours?
Thanks
Where is home
Okay, how far away am I and send me the quickest route
Thank you very much car!
no response needed
where is the closest grocery store
Safeway.
Pick the quickest route to go there and send the info on my screen please
give me directions to the closest grocery store
What is the next closest location?
Ok, well make a route to the Willows Market then, try to avoid the car accident.
That's great! Thank you car!
Where does my friend live?
I was thinking about something that happened to Jill yesterday, long story.. Please pick a quick route to get there, thank you!
Thank you!
What is the highest temperature in Brentwood over the next two days?
Thank you very much car!
what time is dinner tonight
what are the directions to the closest parking garage
Thank you
give me directions to the nearest shopping center
Thanks
Find the address to a hospital or clinic.
Thank you.
is it going to snow this week
Corona
Thank you car!
Will it be warm in Compton on Wednesday?
Thank you.
I need gas.
What is the address?
Can I have some route details? I would like to avoid any heavy traffic there
It's okay, thank you car!
take me to my friend's house
What about the address of my home.
Thanks for the help.
Where can I go shopping?
Sounds amazing. Set the GPS to go there.
Thanks!
does the forecast call for snow today
Cleveland.
Thanks.
get me directions to a local cafe
Yes.
Thanks can you provide the address and is this the fastest route?
What time is my Doctor apartment and who is it with?
the one on Wednesday.
And how about the one on the 5th?
what's the weather forecast for today and tomorrow
Los Angeles
Thanks.
give me directions to the nearest shopping mall
Yes please that sounds perfect.
That will be all, thanks.
Find me the quickest route to the grocery store.
OK, please give me the address and directions via the quickest route.
Thank you.
give me the forecast for the next 7 days
downtown chicago
Okay, thank you car!
Car, find the date and time for my Tennis activity.
Thanks
what is the weather going to be today and tomorrow
I want to know if it will drizzle in Durham
Thank you
check forecast for today and tomorrow
mountain view
Thanks.
what's the weather going to be like this week
Will it be hot in Brentwood?
Thank you.
Where is a nearby parking garage?
Oh great job. Thanks.
Will there be drizzle in Redwood City this weekend?
Thanks.
Car please send me the fastest route to go back home
What is the address?
Please send me the fastest route on screen and let's go there, thank you!
Thanks for all your help.
what is the temperature for the next 7 days weather forecast
Compton.
Thank you very much car!
What will be the highest temperature on friday in mountain view?
Thanks.
What time is my next tennis activity and who will be attending?
Thanks!
Car I need a hospital, please send me a quick route to the one near me in the direction we're driving
Please pick a quick route and let's go there, thank you!
Ok, thanks car!
Will there be clear skies in Danville on Thursday?
Thank you!
Is it gonna snow in Durham during the week?
Thank you.
what is the weather like this week
Cleveland.
Thank.
Will it be dry in New York on Wednesday?
Thank you so much.
check weather forecast for seattle
Please tell me the forecast in Seattle this week.
Thank you.
Find me a chinese restaurant with a no traffic route.
Send me the address anyway.
Please pick a route with no traffic to get there, thanks!
That is ok, thank you.
Can you find me a Chinese restaurant that is within 5 miles?
How is the traffic to there?
Sounds good, set the GPS please.
what is the weather forecast for the weekend
Compton, what is the forecast for this week?
Thanks.
Will it be humid in Fresno during the next week?
Thanks.
Find out the parties joining me and date for my doctor appointment.
Cool, thanks
when's my tennis match
Okay great. Thank you.
When is my dentist appointment, the date and time?
That will do, thanks.
will it rain next week
Los Angeles, please
Thank you.
Will it be warm in Grand Rapids on Saturday?
Thank you.
Bye.
i need directions to a local fast food restaurant please
Please give me the address and directions to whichever restaurant is on a route where I can avoid heavy traffic.
Sounds good. Set the GPS for the there. Thanks.
get me the weather report for this week
Exeter
Thanks!
What will be the temperature in manhattan on wednesday?
Thank you car!
tell me all the events and meetings scheduled on my calendar for today
Thank you.
what's the weather like today and tomorrow
I need to know if it is going to be foggy in Fresno today and tomorrow CAR.
Thanks buddy.
Will there be drizzle in Cleveland tomorrow?
Thanks.
Tell me the weather report in durham for this week
The entire week.
Perfect.
when is my dentist appointment
Thank you.
Please give me the address and directions via the fastest route to a pizza restaurant within 4 miles of me.
OK, please direct me there via the fastest route.
Okay thanks
Pick a route with no traffic and let's go there, thank you!
Yes, patience, I need to get there anyway.. Thank you car, send the info on my screen please!
Thanks.
Car I need to go back home, it's in the area, please pick a route with no traffic
What is my address?
Set GPS for a route home with zero to no traffic.
Thank you
Where can I get tea?
Yes.
Sounds great. Thank you.
is it going to be overcast or cloudy at all any day this week
I need this forecast information for the city of Carson.
Thanks.
I need shopping center.
Yes, please.
Thank you car, pick the shortest distance for me please!
Grand Rapids.
Thank you very much car!
what is the weather like right now
Please check Exeter: is it humid?
Thank you!
Will it be raining this week in Redwood City?
Thank you.
what is the weather going to be like tomorrow show me the 7 day forecast
Fresno: there will be hail tomorrow?
So no hail tomorrow in Fresno?
Thanks.
what is the weather like in the city
What is the weather in Compton on Sunday?
Thanks.
what time is my doctor's appointment
what's the temperature going to be like today and tomorrow
Seattle
Thank you.
Is there a parking garage within 2 miles?
That's great! Please pick the quickest route and send me the address on screen, thank you!
Fantastic. Thanks, car!
find starbucks
Is is the quickest one available? I really need my morning coffee!
Where is the Starbucks?
Thank you.
Will it be foggy on Tuesday in Redwood City?
Thank you
directions to the mall
Thank you car, please pick the fastest route
Sounds great and can you tell me the address?
Awesome, goodbye.
What time do I go to yoga and who is going with me?
Thanks.
check the date and time of my doctor's appointment
Car I need to get to a gas station, please show me the nearest one
Alright, where is it located?
Please pick the fastest route to get there
Thank you car!
I want to find the agenda, location, and time for my meeting.
Thanks.
tell me when is my next meeting and who are invited in the meeting and what are the agenda of the next meeting
take me to the parking garage closest to my destination
Sure, thank you, just pick the quickest route and send me the address on screen
I would like to know who is attending my meeting and when it is.
Thanks.
is it going to snow this week
Mountain View, please!
Thanks.
show me the nearest shopping mall
Okay, where is it located?
Direction please.
Thank you.
[end conversation]
Car I need a rest stop in the area, please pick something and avoid all heavy traffic
Sounds great. Send me that address.
Sure, please do!
Can you find out for me the date and parties attending my dinner?
Thanks.
Look up san francisco's two day weather info to see if it will be warm
Thank you.
I need to find out the date and time for my lab appointment.
Thanks that will do car.
is it going to rain in the next 7 days
in San Francisco
Thanks.
what's the weather like today and tomorrow
Seatlle, I want to know if it will be foggy today and tomorrow.
Thanks!
show me the weather for the next 7 days
Will it be humid in Compton?
Thanks.
Where does my friend live?
Ok set the GPS. Thanks.
check doctor's appointment date
give me weather forecast for today
Downtown Chicago, please
thanks
Which temperature there will be in Alhambra on Thursday?
Thanks!
What day and time is my dental appointment set for?
I am in Durham.
Will there be a blizzard?
Thanks.
what's the weather like in new york
I need to know about Friday please.
Thanks.
Is it cloudy in Cleveland today?
Thanks.
I need the closest hospital.
Yes, please give me directions via the route with no traffic.
Thank you car!
Info about football please.
Thanks, that's all.
take me to the nearest grocery store
Yes.
Thank you car, pick a route with no traffic and let's go there!
Where is the nearest grocery store with no traffic?
Yes please set the GPS for there.
Thank you.
Is it currently hailing in Manhattan?
Thank you car!
is it going to be cloudy this week
Boston
Thanks car, that works.
check weather for new york city
I need current weather data about New York, specifically information about the temperature.
Awesome.
what's the temperature going to be like this week
I'm in manhattan
Thank you very much car!
I need to know my conference agenda, date and who is attending.
Great, and who all will be there?
Thanks.
Thank you.
Where does my friend live?
Thanks.
get me directions to the nearest starbucks
Any coffee shops locally?
OK, please give me the directions via the fastest route.
Great, thank you
Where can I find a parking garage?
Is that the quickest route?
Ok thanks for the notification.
which day is my appointment on
Will there be clear skies in fresno on wednesday?
thank you
directions to the grocery store
OK, please give me directions via the quickest route.
OK, thank you.
What time is my next dinner event and who will be attending?
That will do, thanks.
is there a chance of snow in this weeks weather forecast
San Mateo, please
Thank you!
what is the current temperature
Alameda
Okay, thank you
Will there be clear skies in San Francisco on Friday?
Thanks.
find me a hotel somewhere near my current location
Can you send me the fastest route to go there?
Thank you.
what is the weather going to be like today and tomorrow
Los Angeles
Awesome, thanks.
Find out if there is hail outside right now, for Seattle please.
Thank you!
will it snow this week
alameda
Thank you car!
Where is the closest tea house?
How's the traffic?
Sounds good, let's get going.
Thanks for the help.
Will you find me the fastest route to a rest stop
Pick the fastest route please, thank you car!
Thank you car!
Who's showing up for tennis, and what's the date on that?
What time will they be there?
Thank you assistant!
Camarillo, please. Tell me if it will be foggy on Friday
Thank you.
Will it snow in Fresno during this week?
Thank you very much!
what day is the football game
check my agenda for my meetings
Okay, I want to find out what time my meeting is and where and what day please.
Perfect, thank you.
Will it be cloudy in Inglewood next week?
Okay, thanks
when am i going swimming?
Thank you kindly.
navigate home
Is that route avoiding heavy traffic?
That is ok.
find the nearest hotel
Yes sounds great.
Set my GPS for the quickest route possible please.
Thank you car!
What is a quick route home?
Please direct me via the quickest possible route.
Thank you car!
will the weather be cloudy next week
grand rapids
Thanks.
Where is there a parking garage?
What is the quickest route there?
Okay perfect, thanks!
What time is my doctor's appointment and who is going with me?
Okay perfect, thank you!
what is the agenda of my meeting today
Where can I get tea?
Which one is the quickest, is there any traffic?
Yes Teavana please
Ok can you tell me the address please?
Thanks for all the help.
Is it gonna be any blizzard on Tuesday in Alhambra?
Thank you.
Is it gonna be foggy in Exeter on next week?
Thanks.
give me directions to the local starbucks
Yes, please! Which one is its address? There is any quick route available?
Perfect!
What's the highest temperature going to be in Cleveland this week?
Thank you.
I need a route to the shopping center with no traffic.
What does the traffic look like?
Ouch, patience, please pick the route with least traffic and let's go there, thank you!
Thank you car!
Find out the date and parties attending for my optometrist appointment.
Thanks for the info.
find a coffee place
Sounds great, let's go there.
Thank you.
can you give me the weather this week for new york city
Then no clear skies for me, I'm sad.. Thank you car!
I need the quickest route to a pizza restaurant near me.
Pick the quickest route and let's go there please
Where are there Chinese restaurants around?
Whichever is the fastest to get to.
What is the address?
Thank you
What is the rest stop with the quickest route nearby?
What is the address?
Is there a quick route to reach?
Thank you car!
Have a good day.
I want to know if it will be stormy in manhattan over the next 7 days
Thank you car!
Please give me the address and directions via a route with no traffic to the nearest pizza restaurant.
Yes, let's go, thank you!
This week will it be warm in Los Angeles?
Thank you car!
Find location and address to home that is nearest me.
Thanks, set the GPS for there.
what time is my dinner reservation
Please give me the address and directions via a route that avoids all heavy traffic to a hospital around me.
Thank you very much car!
I need to find out the parties attending and the date for my lab appointment, thanks.
Great, thank you so much!
Thank you.
Find me the nearest gas station.
Please pick the quickest route to get there, thank you!
Display address on screen please.
Thanks for the information.
What is the weather forecast in Cleveland for Thursday?
Thanks
Need the quickest route to home.
Could you confirm the address for me please?
Thank you.
Is it going to be hot this weekend in Boston?
I was asking about Boston not Seattle, do you have information for Boston, too?
Thank you so much for the information.
Where is the nearby shopping center?
Please pick the quickest route to go there and send me the info on screen, thanks!
Thanks!
What is the date and location for my conference and who is attending?
The one at 6 pm please.
Thanks!
What time do I take my medicine and who is attending?
who will be at the meeting friday
Will it be windy in Los Angeles on Sunday?
Thanks.
what time is my lab appointment for
I need a rest stop within a 2 mile radius.
What is the address?
Set GPS for shortest route.
Thanks!
when am i playing tennis
What date is my dentist appointment and who is attending?
Thank you, that was helpful.
What is the date of my yoga activity and who will be attending it?
Thank you.
is the weather cloudy right now
Fresno
Thanks.
give me the location for the nearest starbucks
Yes please.
Okay thank you.
Please set the GPS to avoid all heavy traffic and let's go there, thank you!
find directions to the nearest starbucks
Let's go at Cafe Venetia please, send the address on my screen and pich the quickest route
Yes. Set GPS for the quickest route now.
Thanks
is it supposed to snow today
I want to know about Corona please.
Thank you so much.
give me directions to a place to sleep
Yes, please, pick a quick route!
Thanks.
I'm desiring to eat at some Chinese restaurant, is there anything in this local area?
Yes, please, and pick a route to avoid all heavy traffic
What is the address?
Sounds good, set the navigation there please.
which days are rain forecasted
Tell me if it is raining in Oakland right now.
Thanks.
Find me a gas station.
Are there any other locations that will take less time to reach?
Ok send me the address please.
Thank you.
Great!
Are there any chinese restaurants nearby?
Which one has the fastest route?
What is the address?
How long will it take to get there?
Thank you
Where is the nearest hospital that we can get to quick?
Yes sounds great.
give me the location for the nearest starbucks
Sure, just pick the fastest route for me, thanks!
Please tell me the location, time and parties that are attending my meeting
Great, thank you so much!
That is all, thanks!
What's the current weather in San Francisco?
Okay thanks
What time is the doctors appointment and who is attending?
The 9th. Thank you.
Car, find out the time and parties attending for my tennis activity.
Thanks
what's the temperature going to be this week
San Jose please.
Thanks!
How is gonna be the weather forecast in San Mateo for the next weekend?
Okay, thank you
what's the temperature going to be like this week
Los Angeles
Thanks!
find out when my next conferences
please check the weather for this week
Will it be stormy in Camarillo?
Thank you!
Will it be windy in Atherton in the next two days?
Thanks.
Where is a nearby rest stop?
Yes, please give me directions via the fastest route.
Thank you.
What is the address of my friend's house?
Get me the address to my friends house nearest my current location.
Set the GPS for the quickest route possible.
Thanks!
I need to find out some info for my Optometrist appointment, the date and time please.
That will do, thanks.
get me directions to the mall
Let's go at Ravenswood Shopping Center and pick a route with no traffic please!
What's the address?
Thanks so much for all your help.
Is there a grocery store within 3 miles of me?
OK, please give me directions via the route with least traffic.
Thank you.
find out if it's supposed to rain
Redwood City.
Thank you.
show me the nearby hospital
Does Stanford Express Care have heavy traffic nearby?
Does Stanford Express Care have heavy traffic nearby?
Any other local hospital's with no heavy traffic?
Yes, please give me the address.
Quickly reboot your system car and then send me the address, thank you!
I need a coffee shop within 4 miles.
Is there a quickest route to reach it?
Thanks!
Find me a hotel that is near my location.
Please pick a quick route to go there
Thanks! What is the address?
Ok set the GPS please. Thanks for the help.
Where can I buy groceries?
What is the address?
Ouch, this sounds awful.. But patience, please set the GPS to go there
Thank you car!
what's the temperature going to be this week
Fresno
Thanks.
what is the weather going to be like today and tomorrow
Seatlle, will it be windy?
Thank you.
get me directions to the nearest starbucks
Then let's go there car! Please send me its address on screen and pick the fastest route for me
Thanks so much for the information.
Is it gonna be dry in Redwood City in next few days?
the next few days please
Thanks.
Which one is gonna be the highest temperature in Fresno this week?
Thank you.
take me to the mall to buy some clothes
Yes.
I wish to find a route with no traffic but it's okay, please send the info on the GPS, thanks!
Thank you car!
I need the address to my friend's house please.
Could you please send on my screen the fastest route to get there?
Will do, thank you.
find me a tea house
Is there an alternate route, and is this the quickest way there?
Thank you.
when is the football game
Thank you.
what's the temperature going to be for the week
Durham
Thank you car.
It should be nearby, please pick a quick route to get there
Thanks!
Car please give me the address of a good pizza restaurant in the shortest possible distance
Nice, what's the address there?
Set GPS for shortest route now.
find the nearest shopping mall on the map
Let's go to Ravenswood then.
Okay, thanks
Where can I get groceries?
Okay, tell me the quickest route there.
Sounds great, set the navigation for there.
I want tea.
Yes, what is the address?
Thanks!
take me to a place where i can get some hot tea
How's the traffic?
Give me the address.
Is there an alternate route with no traffic?
It sounds great! Thank you car, let's navigate there please!
directions to nearest barista
Is there another coffee shop that situated on a route with no traffic?
OK thank you.
when is the next cloudy day
Manhattan, please. Will it be cloudy on Monday?
Thank you.
what's the weather forecast for tomorrow
Will it be hot in Atherton tomorrow?
Thank you!
are there clear skies in the forecast today
I would like to know about San Jose.
Thanks.
Closest coffee
Is there any available?
Please direct me there via the shortest distance.
Thank you car!
Is it going to be windy in San Francisco tomorrow?
Thank you car!
please let me know the weather forecast for tomorrow
Los Angeles.
Thank you.
Please give me information about my conference.
Thanks
what time is my meeting tomorrow and what is the agenda
Thanks
Thanks again.
is there snow in the forecast for the week
I need it for San Jose.
Thanks.
can you tell me the next day that i have an appointment with the eye doctor
When's the football activity and who's attending?
Thanks.
Please give the directions to a nearby hospital.
And how is the traffic?
Could you give me the address and directions via a quick route?
Okay thank you
give me directions to the closest shopping mall
Is the route to Town and County shopping center the fastest?
Give me the address.
Thanks.
car what is the temperature going to be today and tomorrow
Grand Rapids.
Thanks.
Where can I get coffee?
Is that the shortest route available?
Yes please. Thanks.
is it going to snow today
Please check for Oakland.
Thank you car!
What day is the swimming party and who will be attending?
Thanks!
What time is my lab appointment and who will be attending?
Thanks!
What is a good Chinese restaurant?
The nearby one please
Is that the fastest option?
Okay great, please set the navigation to take me there.
Thank you car!
What is the date and time of my next meeting and who will be attending it?
Thank you.
check today's forecast for rain
Fresno thanks
thank you
I need to find out the date and time for my swimming activity!
Thanks!
search today's forecast
Will it be humid in Oakland today?
Thank you.
what's the weather like in grand rapids
I would like to know the weather for Friday.
Thank you.
Thanks again!
what is the weather like in new york city
Yes, today's weather report please.
Thank you.
is it raining today
I need it for New York.
Thank you.
Please give me the address and directions to home within 5 miles of here, avoiding all heavy traffic.
Ok that will do. Thank you.
Is it snowing in Redwood City right now?
But it's not snowing?
Thank you
take me to the mall to buy some clothes
I am guessing Ravenswood would be faster. Let's go there.
Thank you very much car!
What is the date and time for my yoga activity?
Thank you.
navigate home
Okay, thank you
[end conversation]
i'm in the mood for some tea can you show me directions to the nearest cafe
Hope it doesn't have any traffic.
What is the address?
Thank you very much car!
Please give me the address and directions via the shortest distance to the nearest pizza place.
Yes, please show me the route with the shortest distance, thank you!
Thank you car!
give me a location to a local parking lot
Yes and please provide a quick route to get there.
Please pick the quickest route, thank you!
what is the forecast for the next 7 days
Cleveland, will it be windy?
Thank you.
show me directions to the nearest grocery store
Pick the fastest route and with least traffic, then send the address on my screen please
Hope you picked the fastest route or no more gasoline for you, car.. Just kidding, thank you!
